html {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;

    background-color: yellow;
}

button,
input,
optgroup,
select,
textarea {
    font-family: Inter, sans-serif;
    font-size: 100%;
    line-height: 1.5rem;
    margin: 0;
}

html button,
html input,
html optgroup,
html select,
html label,
html textarea {
    font-family: Inter, sans-serif;
}

html {
    height: 100%;
    box-sizing: border-box;
    scrollbar-gutter: stable;
}

body svg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

body {
    margin: 0 auto;
    min-width: 320px;
    -webkit-overflow-scrolling: touch;
    font-family: GothamPro, sans-serif;
    font-size: 0.75rem;
    line-height: 1.125rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
}

.main, #__next {
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}